<style>
.masonry__item.col-md-6.col-12.filter-design.contact,.masonry__item.col-lg-6.col-md-12.col-12.contact {
    position: absolute;
    left: 570px;
    top: 368px;
}
</style>

<div class="main-container">
            <section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="masonry__container row masonry--active" style="position: relative; height: 2238px;">
                                    <div class="masonry__item col-md-6" style="position: absolute; left: 0px; top: 0px;"></div>
                                    <div class="masonry__item col-md-12 col-12 h filter-marketing" data-masonry-filter="Marketing" style="position: absolute; left: 0px; top: 0px;">
                                        <a class="block" href="#">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                <span class="label">New</span>
                                                <div class="background-image-holder" style="background: url(&quot;img/blog-2.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="img/blog-2.jpg">
                                                </div>
                                                <div class="article__title">
                                                    <span>May 15th 2016</span>
                                                    <h4>A day in the life of a professional fitness blogger</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <!--end item-->
                                    <div class="masonry__item col-md-6 col-12 filter-marketing" data-masonry-filter="Marketing" style="position: absolute; left: 0px; top: 368px;">
                                        <a class="block" href="#">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                <div class="background-image-holder" style="background: url(&quot;img/blog-3.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="img/blog-3.jpg">
                                                </div>
                                                <div class="article__title">
                                                    <span>May 12th 2016</span>
                                                    <h4>Small businesses that expertly leverage their online followings</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <!--end item-->
                                    <div class="masonry__item col-md-6 col-12 filter-design contact" data-masonry-filter="Design" style="position: absolute; left: 570px; top: 368px;">
                                        <a class="block" href="#">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                <div class="background-image-holder" style="background: url(&quot;img/blog-4.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="img/blog-4.jpg">
                                                </div>
                                                <div class="article__title">
                                                    <span>May 9th 2016</span>
                                                    <h4>Designing efficiently in the age of distraction</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <!--end item-->
                                    <div class="masonry__item col-md-12 col-lg-6 col-12 filter-inspiration" data-masonry-filter="Inspiration" style="position: absolute; left: 0px; top: 736px;">
                                        <a class="block" href="#">
                                            <article class="imagebg border--round height--tall" data-scrim-bottom="8">
                                                <div class="background-image-holder" style="background: url(&quot;img/blog-5.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="img/blog-5.jpg">
                                                </div>
                                                <div class="article__title">
                                                    <span>May 5th 2016</span>
                                                    <h4>Assembling an attractive workspace space to facilitate creativity</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <!--end item-->
                                    <div class="masonry__item col-lg-6 col-md-12 col-12 contact" style="position: absolute; left: 570px; top: 736px;">
                                        <div class="boxed boxed--lg boxed--border bg--secondary text-center masonry__promo height--tall">
                                            <div class="pos-vertical-center">
                                                <h3>Valuable business insight delivered direct to your inbox</h3>
                                                <p>Join over 20,000 other designers</p>
                                                <form action="http://mrare.us8.list-manage.com/subscribe/post-json?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8&amp;c=?" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your email address and agree to the terms." novalidate="true" class="form--active">
                                                    <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address">
                                                    <button type="submit" class="btn btn--primary type--uppercase">Subscribe</button>
                                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                        <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                                    </div>
                                                </form>
                                                <span class="type--fine-print">I have read and agreed to the
                                                    <a href="#">Terms &amp; Conditions</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end item-->
                                    <div class="masonry__item col-md-12 col-12 filter-design" data-masonry-filter="Design" style="position: absolute; left: 0px; top: 1502px;">
                                        <a class="block" href="#">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                <div class="background-image-holder" style="background: url(&quot;img/blog-1.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="img/blog-1.jpg">
                                                </div>
                                                <div class="article__title">
                                                    <span>May 3rd 2016</span>
                                                    <h4>Stack designer Marc Ruben's trips for working as a remote team member</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <!--end item-->
                                    <div class="masonry__item col-md-6 col-12 filter-marketing" data-masonry-filter="Marketing" style="position: absolute; left: 0px; top: 1870px;">
                                        <a class="block" href="#">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                <div class="background-image-holder" style="background: url(&quot;img/blog-6.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="img/blog-6.jpg">
                                                </div>
                                                <div class="article__title">
                                                    <span>April 28 2016</span>
                                                    <h4>What will cutting down on email really do for your business</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <!--end item-->
                                    <div class="masonry__item col-md-6 col-12 filter-inspiration contact" data-masonry-filter="Inspiration" style="position: absolute; left: 570px; top: 1870px;">
                                        <a class="block" href="#">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                <span class="label">Hot</span>
                                                <div class="background-image-holder" style="background: url(&quot;img/blog-7.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="img/blog-7.jpg">
                                                </div>
                                                <div class="article__title">
                                                    <span>April 27 2016</span>
                                                    <h4>Our favourite things: Q1 2016 Edition</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <!--end item-->
                                </div>
                                <!--end masonry container-->
                            </div>
                            <!--end masonry-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

        </div>