<style>
.imageblock > .container {
    padding-top: 20px;
    padding-bottom: 20px;
}
</style>
<div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Nos solutions</h1>
                            <p class="lead">
                                Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable feature-large bg--secondary space--sm">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder" style="background: url('/assets/vehicule_10.jpg'); opacity: 1;">
                        <img alt="image" src="/assets/vehicule_10.jpg">
                    </div>
                </div>
                <div class="container" id="1">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>Lettrages véhicules</h2>
                            <p class="lead">
                                Identifier votre flotte de véhicules.<br>
<br>
Afin d'assurer toute la sécurité à nos clients, nous utilisons des vinyls de très haute performance.
<br>
Que ce soit pour des applications définitives (garanties 7 ans) ou temporaires (démarquage sans risque).
<br><br>
Dynagraph s'est assuré une main d'oeuvre spécialisée pour l'application de vinyls sur tous types de véhicules, quelle que soit la difficulté de la réalisation, comme par exemple les surfaces courbes des carrosseries.
</p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable switchable--switch feature-large bg--secondary space--sm">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder" style="background: url('/assets/Yamaha1.jpg'); opacity: 1;">
                        <img alt="image" src="/assets/Yamaha1.jpg">
                    </div>
                </div>
                <div class="container" id="2">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>Évènements & Signalisations</h2>
                            <p class="lead">
                                Prévoir la signalisation lors d'un événement.<br><br>

Notre atelier possède tout le stock nécessaire à la production de panneaux en pvc, aluminium, plexi, calicots,...
<br><br>
Nous fabriquons ou vous proposons les flèches, pieds, supports pour panneaux de stand, sur mesure ou en location,...
</p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable feature-large bg--secondary space--sm">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder" style="background: url('/assets/Yahama4.jpg'); opacity: 1;">
                        <img alt="image" src="/assets/Yahama4.jpg">
                    </div>
                </div>
                <div class="container" id="3">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>Panneaux & Enseignes</h2>
                            <p class="lead">
                                <strong>Panneaux</strong><br>
Communiquer un message par un panneau didactique.<br><br>

Nous prenons en charge toutes les étapes de la production. Pour la reproduction de photos, logos avec dégradé de couleurs ou en cas de nécessité de reproduire une grande quantité de pièces de même format.
<br><br>
<strong>Enseignes</strong><br>
Changer l'enseigne de votre magasin. Nous adapterons vos besoins au mieux.

                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable switchable--switch feature-large bg--secondary space--sm">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder" style="background: url('/assets/sablage_1.jpg'); opacity: 1;">
                        <img alt="image" src="/assets/sablage_1.jpg">
                    </div>
                </div>
                <div class="container" id="4">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>Sablage & bâches</h2>
                            <p class="lead">
                            Promouvoir votre produit par une campagne vitrines.<br><br>

La fidélité au projet initial est garantie, la reproduction d'une partie de texte lors d'un changement futur ou lors d'une réparation, est aisée.
<br><br>
Une tournée de placements sera effectuée dans un temps record par une équipe soucieuse de votre image, lors de campagnes PLV vitrines.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>